.hotbar {
    display: flex;
    outline: auto;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 250px;
    outline: auto;
}

.primaryHotbarButtons {
    display: flex;
    outline: auto;
    flex-grow: 2;
}

.secondaryHotbarButtons {
    display: flex;
    flex-direction: row;
    outline: auto;
}

.primaryHotbarButtons h2 {
    padding: 10px;
}

.secondaryHotbarButtons h2{
    padding: 10px;
}